<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
<div class="main-container">
	<!-- Login  Screen HTML start-->
	<div class="login-main">
	<span class="close" (click)="homepage()" ><img src="assets/images/close.png"></span>
		<div class="google-login">
			<a href="#"><img src="assets/images/ggl.png"> Sign in width Google</a>
		</div>
		<div class="login-form1">
			<input type="text" placeholder="Email">
			<div class="passwrd">
			<input type="password" placeholder="Password">

			<img src="assets/images/eye.png" class="password-view">
			</div>
			<button (click)="dashboardpage()">Log In</button>
			<div class="forgot">
				<a href="#" (click)="forgotpage()">Forgot Your Password?</a>
			</div>
		</div>

	</div>
	<!-- Login  Screen HTML End-->
</div>

</ion-content>
