<ion-tabs id="tabs">
  <ion-tab [root]="tab1Root"  tabTitle="Routines" menutoggle ></ion-tab>
  <ion-tab [root]="tab2Root"  tabTitle="Dashboard"></ion-tab>
  <ion-tab [root]="tab3Root"  tabTitle="Messages"></ion-tab>
  <ion-tab [root]="tab4Root"  tabTitle="Leaderboard"></ion-tab>
</ion-tabs>
