<!-- <ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding class="Dashboard">
<div class="main-container">
  <div class="header">
    <div class="team-main team">
      Dev team <img src="assets/images/down.png">
    </div>
    <div class="team-main profile" >
      100 PTS <img src="assets/images/profile.jpg" (click)="profilepage()">
    </div>
  </div>
  <div class="main-tabs">
    <ul>
      <li class="active"><a href="#">CHECK-INS</a></li>
      <li><a href="#">FEEDS</a></li>
    </ul>
    <div class="tab-content">
      <h1>Today</h1>
      <div class="check-list">
        <div class="gray-circle"></div>
        <h5>You completed all your check-ins for today!</h5>
      </div>
      <h1>Later this week</h1>
      <div class="review">
        <div class="review-left">
          <img src="assets/images/t.jpg"><span> Weekly Review </span><img src="assets/images/plus.png">
          <p><img src="assets/images/check.jpg">OPENS AT 1 PM</p>
        </div>
        <div class="review-img">
        <img src="assets/images/waves.jpg">
      </div>
      </div>
      
    </div>
  </div>
</div>
</ion-content>