<ion-content padding>
<div class="main-container">
	<div class="header">
		<div class="team-main team">
			Dev team <img src="assets/images/down.png">
		</div>
		<div class="team-main profile">
			100 PTS <img src="assets/images/profile.jpg">
		</div>
	</div>
	<div class="main-tabs">
		
		<div class="tab-content">
			<div class="message-container">
				<div class="search">
					<input type="text" placeholder="Search Message">
					<img src="assets/images/search-icon.png" class="search-icon">
				</div>
			</div>
			<div class="message-inner">	
				<h5>GROUP MESSAGES</h5>
				<ul>
					<li><img src="assets/images/d.png">Dev Routine</li>
					<li><img src="assets/images/t.jpg">Tech Department</li>
					<li><img src="assets/images/a.png">Acme monthly</li>
				</ul>
				<h5>DIRECT MESSAGES</h5>
				<ul>
					<li><img src="assets/images/profile.jpg">Dev Routine</li>
					<li><img src="assets/images/t.jpg">Tech Department</li>
					<li><img src="assets/images/a.png">Acme monthly</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</ion-content>