<ion-content padding>
<div class="main-container">
	<div class="header">
		<div class="team-main team">
			Dev team <img src="assets/images/down.png">
			<ul>
				<li><a href="#">ACME CO.</a>
					<ul>
						<li><a href="">DEV TEAM</a><span class="notification">1</span></li>
						<li><a href="">LEADERSHIP</a></li>
					</ul>
				</li>
				<li><a href="#">PERSONAL</a></li>
				<li class="create-new"><a href="#"><span class="plus-1">+</span>CREATE NEW TEAM</a></li>
			</ul>
		</div>
		<div class="team-main profile">
			100 PTS <img src="assets/images/profile.jpg"  id="pic" (click)="dashboardpage()">
			<div class="profile-main">
				<h1 class="profile-header" ><img src="assets/images/close.png" id="close"> Profile</h1>
				<div class="profile-con">
					<div class="profile-pic">
						<img src="images/pic.png">
						<span class="edit"><img src="assets/images/edit.png"></span>
						<h4>Bob</h4>
						<ul>
							<li>100 PTS</li>
							<li>RANK #5</li>
						</ul>
					</div>
					<ul>
						<li><img src="assets/images/msg-icon.png">bob.belcher@acme.com</li>
						<li><img src="assets/images/settings.png">Change password</li>
						<li><img src="assets/images/team.png">My Team</li>
						<li><img src="assets/images/sech.png">My Schedule</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

</ion-content>