<!-- <ion-header>
  <ion-navbar>
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>
 -->

<ion-content padding>
   <div class="main-container">
    <!-- Login  Screen HTML start-->
      <div class="login-form">
        <div class="logo">
          <a href="#"><img src="assets/images/logo-new.png" alt="Logo"></a>
          <div class="login-btns">
            <a href="#" (click)="signup()">Sign Up</a>
            <a href="#" (click)="loginpage()" >Log In</a>
          </div>
          
        </div>
      </div>
    <!-- Login  Screen HTML End-->
  </div>

</ion-content>