// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content{
background:#2c73fe;
font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,400,700');
@font-face{
	font-family:knowledge-Regular;
	src:url("../fonts/knowledge.eot?") format("eot"),
	url("../fonts/knowledge.woff") format("woff"),
	url("../fonts/knowledge.ttf") format("truetype"),
	url("../fonts/knowledge.svg#U.S.101") format("svg");
	font-weight:normal;font-style:normal;
}
@font-face{
	font-family:knowledge-light;
	src:url("../fonts/knowledge-light.eot?") format("eot"),
	url("../fonts/knowledge-light.woff") format("woff"),
	url("../fonts/knowledge-light.ttf") format("truetype"),
	url("../fonts/knowledge-light.svg#U.S.101") format("svg");
	font-weight:normal;font-style:normal;
}
@font-face{
	font-family:knowledge-bold;
	src:url("../fonts/knowledge-bold.eot?") format("eot"),
	url("../fonts/knowledge-bold.woff") format("woff"),
	url("../fonts/knowledge-bold.ttf") format("truetype"),
	url("../fonts/knowledge-bold.svg#U.S.101") format("svg");
	font-weight:normal;font-style:normal;
}
.scroll-content{
	padding:0px !important;
}
.login-form {
  color: #ffffff;
  font-weight: 300;
  left: 0;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
}
.logo {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}
.login-form {
  color: #ffffff;
   font-weight: 300;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.logo h1 {
  font-size: 43px;
}
.login-btns > a {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 4px;
    color: #2c73fe;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding: 11px 12px;
    text-decoration: none;
    width: 100%;
}
* {
    box-sizing: border-box;
}
a,button{
transition:all 0.5s;
}
.login-btns > a:hover{
background:#12cde6;
color:#fff;
}
.logo-width {
  width: 268px;
}
.login-btns {
/*   border-bottom: 1px solid #ffffff;
 */  margin: 60px auto 26px;
  padding-bottom: 15px;
  width: 271px;
}
.sign-up {
   font-weight: 400;
  font-size: 17px;
}
 .sign-up-main{
background:#fff;
} 
.logo h2 {
  color: #585858;
  font-weight: 300;
  font-size: 27px;
}
.inputs input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: inline-block;
 font-weight: 400;
  font-size: 17px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 100%;
}
.inputs {
  display: inline-block;
  width: 100%;
}
.form-input {
  padding: 0 25px;
}
.inputs label {
  color: #585858;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 4px;
  text-align: left;
  width: 100%;
}
.inputs > a {
  background: #9c9c9c none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
   font-weight: 400;
  margin-bottom: 10px;
  padding: 15px 0;
  text-decoration: none;
  width: 100%;
}
.inputs > a:hover{
background:#585858;
}
.terms {
  color: #585858;
  font-weight: 400;
  padding: 0 15px;
}
.terms > a {
  color: #585858;
}
/*password CSS*/
.password-main {
  color: #585858;
  font-weight:400;
}
.password-main h5 {
   font-weight: 300;
  font-size: 32px;
}
.app-link {
  border: 2px solid #585858;
  border-radius: 3px;
  color: #585858;
  display: inline-block;
   font-weight: 400;
  font-size: 19px;
  letter-spacing: 1px;
  padding: 32px 0;
  text-decoration: none;
  width: 100%;
}
.app-link:hover {
  background: #585858 none repeat scroll 0 0;
  color: #ffffff;
}
.password-main h6 {
  font-weight: 300;
  font-size: 20px;
}
.btns > a {
  background: #585858 none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 10px;
  padding: 12px 1px;
  text-decoration: none;
  width: 100%;
}
.btns > a:hover {
background:#7c7c7c;
}
/*login css*/
.google-login a {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #000000;
  color: #8e8e8e;
  display: inline-block;
   font-weight: 400;
  padding: 12px 13px;
  text-decoration: none;
  width: 100%;
}
.google-login img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 25px;
}
.login-main {
  padding: 41px 20px;
  position: relative;
  text-align: center;
}
.close > img {
  width: 21px;
}
.login-form1 input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #ffffff;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0 5px;
  width: 100%;
     margin-bottom: 15px;
}
.login-form1 {
  margin-top: 25px;
}
.login-form1 button {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #2c73fe;
  display: inline-block;
   font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-top: 17px;
  padding: 11px 12px;
  text-decoration: none;
  width: 100%;
  cursor:pointer;
}
.login-form1 button:hover{
background:#12cde6;
color:#fff;
}
.close {
  color: #ffffff;
 
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
}
.forgot-sp {
  margin-top: 20px;
}
.passwrd {
  position: relative;
}
.password-view {
  bottom: 20px;
  position: absolute;
  right: 0;
}
.forgot {
  color: #ffffff;	
   font-weight: 400;
  text-align: center;
}
/*Dashboard*/
.header{

background: rgba(10,173,242,1);
background: -moz-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,173,242,1)), color-stop(43%, rgba(23,149,246,1)), color-stop(100%, rgba(47,109,255,1)));
background: -webkit-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: -o-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: -ms-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: linear-gradient(to right, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aadf2', endColorstr='#2f6dff', GradientType=1 );

  background: rgba(0, 0, 0, 0) linear-gradient(to right, #0aadf2 0%, #1795f6 43%, #2f6dff 100%) repeat scroll 0 0;
  float: left;
  padding:10px 22px;
  width: 100%;

}
.team-main {
  color: #ffffff;
float:left;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
}
.team-main.profile {
  font-size: 16px;
  text-align: right;
  width: 50%;
}
.team-main.team > img {
  margin-left: 9px;
  opacity: 0.8;
  width: 22px;
}
.team-main.profile > img {
  border-radius: 4px;
  margin-left: 5px;
  width: 48px;
}
html, body {
  margin: 0;
  padding: 0;
}
.team-main.team {
  margin-top: 6px;
}
.team-main img {
  vertical-align: middle;
}
.main-tabs {
  clear: both;
  float: left;
  width: 100%;
}
.dash{
background:#f2f2f2 none repeat scroll 0 0;
}
.main-tabs li {
  float: left;
  list-style: outside none none;
  text-align: center;
  width: 50%;
}
.main-tabs li a {
  color: #585858;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}
.main-tabs li.active a{
color:#2c73fe ;
}
.main-tabs li.active a {
  border-bottom: 5px solid #2c73fe;
  color: #2c73fe;
  padding: 10px 20px;
}
.tab-content {
  background: #f2f2f2 none repeat scroll 0 0;
  float: left;
     padding: 23px 0 60px;
  text-align: center;
  width: 100%;
}
.gray-circle {
  background: #cccccc none repeat scroll 0 0;
  border-radius: 50%;
  height: 250px;
  margin: 0 auto;
  width: 250px;
}
.review {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #000000;
  margin: 0 auto 15px;
  padding: 0;
  width: 90%;
}
.review-left span {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  color:#0d3557;
}
.review-left > img {
  margin-left: 5px;
  vertical-align: middle;
  width: 16px;
}
.forgot > a {
  color: #ffffff;
}
.review-left p {
  background: #ffffff none repeat scroll 0 0;
  border-top: 2px solid #a5a5a5;
  color: #585858;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 3px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;
}
.daily-check p {
  background: #12cde6 none repeat scroll 0 0;
   color: #ffffff;
  }
.review-left p img {
  margin-right: 13px;
  vertical-align: text-top;
  width: 24px;
}
.review-left {
  border-right: 3px solid #a5a5a5;
  display: inline-block;
  padding: 5px 0 0;
  text-align: left;
  vertical-align: top;
  width: 75%;
}
.review-img {
  display: inline-block;
  width: 23%;
}
.review-img > img {
  height:47px;
  margin-top: 20px;
  width: 98%;
}
.tab-content > h1 {
  color: #243b82;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.check-list h5 {
  color: #bababa;
  font-size: 21px;
  margin: 19px auto 0;
  width: 95%;
}
.main-tabs ul {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  margin: 0;
  padding: 12px 0 15px;
  width: 100%;
}
.reload {
  cursor: pointer;
  position: absolute;
  right: 15px;
  vertical-align: middle;
  width: 28px;
}
.lost-conn {
  background: #2a4291 none repeat scroll 0 0;
  color: #ffffff;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 0 13px;
  position: relative;
  text-align: center;
  width: 100%;
}
.review-left .daily {
  margin: 0 4px;
  width: 25px;
}
.team-main.team > ul li a {
  color: #9f9f9f;
  font-size: 15px;
  text-decoration: none;
}
.team-main.team > ul {
  background: #ffffff none repeat scroll 0 0;
  left: 0;
  padding: 15px 20px;
  position: absolute;
  width: 100%;
}
.notification {
  background: #ffa92e none repeat scroll 0 0;
  border-radius: 10px;
  float: right;
  font-size: 15px;
  padding: 0 9px;
}
.team-main.team li {
  padding: 7px 25px;
}
.team-main.team ul ul {
  padding: 0;
}
.plus-1 {
  background: #2f6cff none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 24px;
  margin-right: 8px;
  text-align: center;
  width: 24px;
}
.team-main.team  .create-new a{
color:#2f6cff ;
}
.team-main.team li {
  list-style: outside none none;
  padding: 7px 25px 9px;
}
.team-main.team li:hover {
  background: #ededed none repeat scroll 0 0;
}
.team-main.team  .top-1{
top:48px;
}
.profile-main {
  background: #f2f2f2 none repeat scroll 0 0;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.5s ease 0s;
  width: 100%;
  z-index:-1;
}
.profile-main.profile-block {
  opacity: 1;
  z-index: 9;
}
.profile-header{
background: rgba(10,173,242,1);
background: -moz-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,173,242,1)), color-stop(43%, rgba(23,149,246,1)), color-stop(100%, rgba(47,109,255,1)));
background: -webkit-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: -o-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: -ms-linear-gradient(left, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
background: linear-gradient(to right, rgba(10,173,242,1) 0%, rgba(23,149,246,1) 43%, rgba(47,109,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aadf2', endColorstr='#2f6dff', GradientType=1 );
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #0aadf2 0%, #1795f6 43%, #2f6dff 100%) repeat scroll 0 0;
      margin: 0;
    padding: 6px 0;
  }
  .profile-header > img {
  left: 12px;
  position: absolute;
  top: 16px;
  width: 24px;
}
.profile-pic {
  display: inline-block;
  margin: 30px 0;
  position: relative;
}
.profile-pic > img {
  border-radius: 8px;
}
.edit {
  position: absolute;
  right: 7px;
  top: 0;
}
.edit > img {
  width: 16px;
}
.profile-pic h4 {
  color: #0c3457;
  font-size: 40px;
  margin: 7px 0;
}
.profile-pic > ul {
  margin: 0;
  padding: 0;
}
.profile-pic li {
  color: #243b82;
  display: inline-block;
  font-size: 15px;
  margin: 0 17px;
}
.profile-con > ul {
  background: #ffffff none repeat scroll 0 0;
  padding: 0;
  text-align: left;
}
.profile-con > ul li {
  border-top: 1px solid #cccccc;
  color: #1e294f;
  list-style: outside none none;
  padding: 12px 25px;
}
.profile-con > ul > li img {
  margin-right: 10px;
  width: 39px;
}
.search input {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  font-size: 18px;
  height: 40px;
  padding: 0 10px 0 40px;
  width: 100%;
}
.search {
  background: #dcdcdc none repeat scroll 0 0;
  padding: 10px 15px;
  position: relative;
}
.search-icon {
  left: 24px;
  position: absolute;
  top: 19px;
  width: 26px;
}
.message-inner h5 {
  clear: both;
  color: #33488a;
  font-size: 18px;
  margin: 0;
  padding: 15px;
  text-align: left;
}
.message-inner li {
  color: #222c52;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 17px;
  padding: 0 15px;
  text-align: left;
  width: 100%;
}
.message-inner li img {
  margin-right: 9px;
  vertical-align: middle;
}
.main-tabs .message-inner {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  margin: 0;
  padding: 12px 0 15px;
  width: 100%;
}
@media only screen and (max-width:320px){
.logo h2 {
  font-size: 16px;
}
}
