<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Forgot
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="main-container">
    <!-- Login  Screen HTML start-->
    <div class="login-main">
    <a href="#"><img src="assets/images/logo-new.png" alt="Logo"></a>
    <div class="forgot forgot-sp">
          Forgot Your Password?
        </div>
      <div class="login-form1">
        <input type="text" placeholder="Email">
        <button>Send Instruction</button>
        
      </div>
    </div>
    <!-- Login  Screen HTML End-->
  </div>
</ion-content>
